<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Árbol expandible con Materialize CSS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
  .spinner-container {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

    /* Establecer la anchura máxima del contenido del sidebar */
    #sidebar-content {
      max-width: 200px;
    }

    /* Establecer el estilo de recorte de texto */
    #sidebar-content a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /* Establecer una posición fija para el contenedor */
    #bottom-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        background-color: transparent;
        z-index: 999;
      }

    #texto {
      position: relative;
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;
      /* color blanco */
    }

    #caption {
      color: #fff;
      /* color blanco */
    }
  </style>
</head>

<body>
	<nav>
		<div class="nav-wrapper teal">
			<a href="#" class="brand-logo center">Mapa de Contenido</a>
      <a href="#" data-target="maps-list" class="left sidenav-trigger show-on-large"><i
          class="material-icons">menu</i></a>
		</div>
	</nav>
  <ul id="maps-list" class="sidenav">
  </ul>
  <div class="row">
  <div class="input-field col s12">
    <div class="container">
		<div id="tree"></div>
	 </div>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <div class="container">
      </div>
    </div>
  </div>
  <div id="spinner" class="spinner-container" style="display:none;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <div class="row" id="bottom-container">
    <div class="col s12">
      <div class="container">
        <div class="card-content" style="height: calc(100% - 64px); padding: 0;">
          <div class="row " style="margin-bottom: 0;">
        <form id="myForm" method="POST" action="/generar">
              <div class="row">
                <div class="input-field col s12   " style="display: flex; align-items:  flex-end;">
            <label for="texto" style="color: #00f">Ingrese su texto:</label>
            <textarea name="texto" id="texto" class="materialize-textarea" maxlength="15000"></textarea>
          </div>
              </div>
              <div class="row">
                <div class="col s11   ">
                </div>
                <div class=" col s1  right-align">
                  <button class="btn waves-effect waves-light align-rigth" type="submit" id="action" name="action">
                    <i class="material-icons right0  ">send</i>
            </button>
          </div>
              </div>
        </form>
      </div>
    </div>
      </div>
    </div>
  </div>
  <script>
	// Datos del árbol en formato JSON
	

    var data = {{ texto_generado | safe }};
	
	
	
	
	function buildTree(node, parent, level) {
	    var ul = document.createElement("ul");
	    parent.appendChild(ul);
	    var li = document.createElement("li");
	    li.textContent = '';
      if (level === 3) {
			li.classList.add("active");
		}
		ul.classList.add("collapsible");
		var header = document.createElement("div");
		header.textContent = '';
		header.classList.add("collapsible-header");
		var size = 50 - (4 * level);
		header.innerHTML = node.name;
      if (level === 3) {
			header.innerHTML = header.innerHTML + "<i class='material-icons  left more'  style='font-size: " + size + "px;display: none;'>expand_more</i>";
			header.innerHTML = header.innerHTML + "<i class='material-icons  left less' style='font-size: " + size + "px'>expand_less</i>";
      } else {
			header.innerHTML = header.innerHTML + "<i class='material-icons  left more'  style='font-size: " + size + "px'>expand_more</i>";
			header.innerHTML = header.innerHTML + "<i class='material-icons  left less' style='font-size: " + size + "px;display: none;'>expand_less</i>";
		}
		header.innerHTML = "<i class='material-icons ' style='font-size: " + size + "px'>" + node.icon + "</i>"  + header.innerHTML;
		header.innerHTML = "<h" + level + "><b><span style='font-weight: 400;'>" + header.innerHTML + "</span></b></h" + level + ">";
		li.appendChild(header);
      if (!node.icon || (node.icon && node.icon === '')) {
			node.icon = 'remove';
		}
		var body = document.createElement("div");
		body.textContent = '';
		body.classList.add("collapsible-body");
      if (node.description) {
			var blockquote = document.createElement("blockquote");
			blockquote.textContent = '';
			blockquote.innerHTML = node.description;
			blockquote.innerHTML = blockquote.innerHTML.replace("<blockquote  class='miDiv'>", "<blockquote style='margin: 0px;'>");
			body.appendChild(blockquote);
			
		}
      if (node.keywords) {
			var keyContainer = document.createElement("div");
			keyContainer.textContent = '';
			keyContainer.classList.add("chips");
			keyContainer.classList.add("readonly");
        node.keywords.forEach(function (keyword) {
				var key = document.createElement("div");
				key.textContent = '';
          if (keyword.name) {
					key.innerHTML = node.name;
					key.innerHTML = "<i class='material-icons'>" + keyword.icon + "</i>"  + capitalizeFirstLetter(keyword.name);
          } else {
					key.textContent = capitalizeFirstLetter(keyword);
				}
	
				key.classList.add("chip");
				keyContainer.appendChild(key);
	        });
			body.appendChild(keyContainer);
		}
		li.appendChild(body);
		ul.appendChild(li);
	    if (node.children && node.children.length > 0) {
	        // li.classList.add("tree-branch");
	        // var toggle = document.createElement("span");
	        // toggle.classList.add("tree-toggle");
	        // li.insertBefore(toggle, li.firstChild);
			//<i class="material-icons">check</i>
	
	        /*var icon = document.createElement("i");
	        icon.classList.add("material-icons");
	        li.insertBefore(icon, li.firstChild);*/
	
        node.children.forEach(function (child) {
				buildTree(child, body, level + 1);
	        });
	    } 
	
	
	}
	
	function capitalizeFirstLetter(str) {
	  var words = str.split(' ');
	  for (var i = 0; i < words.length; i++) {
	    var word = words[i];
	    words[i] = word.charAt(0).toUpperCase() + word.slice(1);
	  }
	  return words.join(' ');
	}
	
	
	function loadData(data) {
		var root = document.getElementById("tree");
		buildTree(data, root, 3);
	
	}
	
	
	loadData(data.map);
	
	
	var miCheckbox = document.getElementById("descripcion");
	
    if (miCheckbox) {
      miCheckbox.addEventListener("change", function () {
			var misDivs = document.getElementsByTagName("blockquote");
		  if (miCheckbox.checked) {
			// Si el checkbox está seleccionado, mostramos los divs
	
			for (var i = 0; i < misDivs.length; i++) {
			  misDivs[i].style.display = "block";
			};
		  } else {
			// Si el checkbox no está seleccionado, ocultamos los divs
			for (var i = 0; i < misDivs.length; i++) {
			  misDivs[i].style.display = "none";
			};
		  }
		});
	}
	
	
	// Inicialización de los Collapsibles
    document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems);
	});
	
	
    $(document).ready(function () {
      $(".collapsible-header").click(function () {
        $(".more", this).toggle()
		  $(".less", this).toggle()
	  });
      // Llamada al servicio REST para obtener los nombres de los maps
      $.get("/maps", function (data) {
        // Generación de la lista de maps
        var mapsList = $("#maps-list");
        $.each(data.maps, function (index, map) {
          var li = $("<li>", { class: "waves-effect" });
          var a = $("<a>", { href: "#", text: map });
          li.append(a);
          a.click(function () {
            window.location.href = map;
          });
          mapsList.append(li);
        });
	});
      $('.sidenav').sidenav();
    });

    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems);
    });

    const submitButton = document.getElementById("action");
		const spinner = document.getElementById("spinner");
		const myForm = document.getElementById("myForm");
		const texto = document.getElementById("texto");

		texto.addEventListener("paste", function (e) {
			setTimeout(function () {
				// Ajusta la altura del <textarea> para acomodar el contenido
				texto.style.height = "auto";
				texto.style.height = texto.scrollHeight + "px";
			}, 0);
		});

		submitButton.addEventListener('click', function () {
			if (texto.value.length < 14000) {
				spinner.style.display = 'block';
				submitButton.disabled = true;
				myForm.submit();
			}
		});

  </script>

</body>

</html>